<!-- Double Navbar Structure -->
<header>
        
    <!-- Top Navbar -->
<div class="top-navbar">
 <div class="top-navbar__content">
     <section class="logo">
         <a href="#" class="nav__logo">
             <img src="./assets/favicon.svg" alt="logo" class="logo__img">
             <span class="logo__text">Cherus Sportswear</span>
         </a>
     </section>
     
     <section class="search">
         <form action="https://www.google.com/search" method="get" class="search_bar">
             <input type="text" placeholder="Search for any product..." name="search_product">
             <button type="submit"><img src="./assets/icons/searchblack.svg" width="25" height="25" alt="search_icon"></button>
         </form>
     </section>
     
     <!-- hamburger for mobile -->
     <div class="hamburger" id="hamburger-menu">
         <div class="bar"></div>
         <div class="bar"></div>
         <div class="bar"></div>
     </div>
     
     <section class="phone">
         <i class="fa-solid fa-phone icon"></i>
         +254(721)370738
     </section>
 </div>
</div>
     
     <!-- Bottom Navbar -->
     <div class="bottom-navbar">
         <div class="bottom-navbar__content">
             <nav class="nav-container">
                 <div class="nav__menu" id="nav-menu">
                     <ul class="nav__list">
                         <li><a href="#" class="nav__link">Home</a></li>
                         
                         <!-- About Us Dropdown -->
                         <li class="dropdown__item">
                             <div class="nav__link">
                                 About Us <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                             </div>
                             
                             <ul class="dropdown__menu">
                                 <li>
                                     <a href="#" class="dropdown__link">
                                         <i class="ri-user-line"></i> Our Mission
                                     </a>
                                 </li>
                                 
                                 <li>
                                     <a href="#" class="dropdown__link">
                                         <i class="ri-lock-line"></i> Our Vision
                                     </a>
                                 </li>
                             </ul>
                         </li>
                         
                         <!-- Shop Dropdown -->
                         <li class="dropdown__item">
                             <div class="nav__link">
                                 Shop <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                             </div>
                             
                             <ul class="dropdown__menu">
                                 <li>
                                     <a href="#" class="dropdown__link">Shoes</a>
                                 </li>
                                 
                                 <li>
                                     <a href="#" class="dropdown__link">Fullsuit</a>
                                 </li>
                                 
                                 <!-- Equipment Submenu -->
                                 <li class="dropdown__subitem">
                                     <div class="dropdown__link">
                                         Equipment <i class="ri-add-line dropdown__add"></i>
                                     </div>
                                     
                                     <ul class="dropdown__submenu">
                                         <li>
                                             <a href="#" class="dropdown__sublink">Balls</a>
                                         </li>
                                         
                                         <li>
                                             <a href="#" class="dropdown__sublink">Nets</a>
                                         </li>
                                         
                                         <li>
                                             <a href="#" class="dropdown__sublink">Bags</a>
                                         </li>
                                         
                                         <li>
                                             <a href="#" class="dropdown__sublink">Cones</a>
                                         </li>
                                         
                                         <li>
                                             <a href="#" class="dropdown__sublink">Ankle support</a>
                                         </li>
                                         
                                         <li>
                                             <a href="#" class="dropdown__sublink">Leg sleeve</a>
                                         </li>
                                     </ul>
                                 </li>
                                 
                                 <li>
                                     <a href="#" class="dropdown__link">Vests</a>
                                 </li>
                                 
                                 <li>
                                     <a href="#" class="dropdown__link">Gloves</a>
                                 </li>
                                 
                                 <li>
                                     <a href="#" class="dropdown__link">Jackets</a>
                                 </li>
                                 
                                 <li>
                                     <a href="#" class="dropdown__link">Caps</a>
                                 </li>
                                 
                                 <li>
                                     <a href="#" class="dropdown__link">Shorts</a>
                                 </li>
                                 
                                 <li>
                                     <a href="#" class="dropdown__link">T-shirts</a>
                                 </li>
                                 
                                 <li>
                                     <a href="#" class="dropdown__link">Socks</a>
                                 </li>
                             </ul>
                         </li>
                         
                         <li><a href="#" class="nav__link">Cart</a></li>
                         <li><a href="#" class="nav__link">Contact</a></li>
                         <li><a href="#" class="btn">Login</a></li>
                     </ul>
                 </div>
             </nav>
             
             
         </div>
     </div>
 </header>