<!--- New Product -->
<div class="container">
    <div class="row g-4">
        <div class="col-md-6">
            <img src="./assets/portf images/nike_infinity_react_4.png" class="img-fluid" alt="New Product">
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <div>
                <p>Our Newest Product Offer</p>
                <h1>Nike infinity React</h1>
                <small>Fitness shoe combining style with comfort.</small>
                <br>
                <form action="./cart.html" method="GET">
                    <input type="hidden" name="product" value="Nike infinity React">
                    <input type="hidden" name="price" value="2500.00">
                    <input type="hidden" name="quantity" value="1">
                    <input type="submit" class="btn btn-warning" value="Add to Cart">
                </form>
            </div>
            <div>
                <p>Our Newest Product Offer</p>
                <h1>Nike infinity React</h1>
                <small>Fitness shoe combining style with comfort.</small>
                <br>
                <form action="./cart.html" method="GET">
                    <input type="hidden" name="product" value="Nike infinity React">
                    <input type="hidden" name="price" value="2500.00">
                    <input type="hidden" name="quantity" value="1">
                    <input type="submit" class="btn btn-warning" value="Add to Cart">
                </form>
            </div>
            <div>
                <p>Our Newest Product Offer</p>
                <h1>Nike infinity React</h1>
                <small>Fitness shoe combining style with comfort.</small>
                <br>
                <form action="./cart.html" method="GET">
                    <input type="hidden" name="product" value="Nike infinity React">
                    <input type="hidden" name="price" value="2500.00">
                    <input type="hidden" name="quantity" value="1">
                    <input type="submit" class="btn btn-warning" value="Add to Cart">
                </form>
            </div>
            <div>
                <p>Our Newest Product Offer</p>
                <h1>Nike infinity React</h1>
                <small>Fitness shoe combining style with comfort.</small>
                <br>
                <form action="./cart.html" method="GET">
                    <input type="hidden" name="product" value="Nike infinity React">
                    <input type="hidden" name="price" value="2500.00">
                    <input type="hidden" name="quantity" value="1">
                    <input type="submit" class="btn btn-warning" value="Add to Cart">
                </form>
            </div>
            <div>
                <p>Our Newest Product Offer</p>
                <h1>Nike infinity React</h1>
                <small>Fitness shoe combining style with comfort.</small>
                <br>
                <form action="./cart.html" method="GET">
                    <input type="hidden" name="product" value="Nike infinity React">
                    <input type="hidden" name="price" value="2500.00">
                    <input type="hidden" name="quantity" value="1">
                    <input type="submit" class="btn btn-warning" value="Add to Cart">
                </form>
            </div>
            <div>
                <p>Our Newest Product Offer</p>
                <h1>Nike infinity React</h1>
                <small>Fitness shoe combining style with comfort.</small>
                <br>
                <form action="./cart.html" method="GET">
                    <input type="hidden" name="product" value="Nike infinity React">
                    <input type="hidden" name="price" value="2500.00">
                    <input type="hidden" name="quantity" value="1">
                    <input type="submit" class="btn btn-warning" value="Add to Cart">
                </form>
            </div>
            <div>
                <p>Our Newest Product Offer</p>
                <h1>Nike infinity React</h1>
                <small>Fitness shoe combining style with comfort.</small>
                <br>
                <form action="./cart.html" method="GET">
                    <input type="hidden" name="product" value="Nike infinity React">
                    <input type="hidden" name="price" value="2500.00">
                    <input type="hidden" name="quantity" value="1">
                    <input type="submit" class="btn btn-warning" value="Add to Cart">
                </form>
            </div>
        </div>
    </div>
</div>
<hr>
